<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>__FILL_API_KEY__</string>
	<key>GCM_SENDER_ID</key>
	<string>__FILL_GCM_SENDER_ID__</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sportconnect.SportConnectApplication</string>
	<key>PROJECT_ID</key>
	<string>__FILL_FIREBASE_PROJECT_ID__</string>
	<key>STORAGE_BUCKET</key>
	<string>__FILL_STORAGE_BUCKET__</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>__FILL_GOOGLE_APP_ID__</string>
	<key>CLIENT_ID</key>
	<string>__FILL_IOS_CLIENT_ID__</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.__FILL_REVERSED_CLIENT_ID__</string>
</dict>
</plist>
