#include "Generated.xcconfig"

// iOS Google Sign-In URL scheme (from GoogleService-Info.plist REVERSED_CLIENT_ID).
// Example: com.googleusercontent.apps.1234567890-abcdefghijklmnopqrstuv
GOOGLE_REVERSED_CLIENT_ID=com.googleusercontent.apps.950804897667-6n80c99rgha62msa59b5mcdos8p8pm67

// iOS Google Sign-In client ID (from GoogleService-Info.plist CLIENT_ID).
// Example: 1234567890-abcdefghijklmnopqrstuv.apps.googleusercontent.com
GOOGLE_CLIENT_ID=950804897667-6n80c99rgha62msa59b5mcdos8p8pm67.apps.googleusercontent.com
